.calendario {
  margin-top: calc(5rem + var(--nav-height));
}

.container .calendar-sidebar {
  background-color: var(--orange-light);
}

.container .calendar-sidebar>.month-list>.calendar-months>li.active-month {
  background-color: var(--orange);
}

.container .calendar-sidebar>.month-list>.calendar-months>li:hover {
  background-color: var(--orange);
}

.container .calendar-sidebar>span#sidebarToggler{
  background-color: var(--orange-light);
}

.container th[colspan="7"] {
  color: var(--orange);
}

.container th[colspan="7"]::after {
  background: none;
}

.container #eventListToggler {
  background-color: var(--orange-light);
}

.container .event-list>.event-empty {
  background-color: rgba(255, 126, 20, 0.15);;
  border-color: var(--orange);
}

.container .event-list>.event-empty>p {
  color: var(--orange-light);
}

.container .calendar-events>.event-header>p {
  margin-bottom: 2rem;
}