@media (min-width: 1024px) {
  .container {
    width: min(112rem, 100%);
  }

  /* reset */

  body {
    text-align: initial;
  }

  nav {
    background-color: initial;
    margin: initial;
    padding: initial;
  }
  
  nav#navegacao .container * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    position: initial;
    font-weight: initial;
    transform: initial;
    background-color: initial;
    border: 0;
  }

  nav{
    height: 0;
    margin-top: 0;
  }

  nav#navegacao .fecha-menu,
  nav#navegacao .abre-menu {
    display: none;
  }

  nav#navegacao .menu {
    display: flex;
    align-items: center;
  }

  nav#navegacao .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  #banner img {
    display: initial;
  }

  #banner .texto-banner {
    margin: initial;
  }

  /* GERAL */
  body {
    font-size: 2.2rem;
  }

  main {
    display: flex;
    flex-direction: column;
  }
  /* NAVEGACAO */

  nav#navegacao .container {
    background-color: var(--orange-light);
    width: 100%;
  }

  nav .container {
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
  }

  nav#navegacao .logo {
    margin: 2rem;
  }

  .menu ul:nth-child(1) {
    display: flex;
    flex-direction: row;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
  }
}