@media(max-width: 500px) {
  .cards-box {
    margin: 0 1rem;
  }

  .cards {
    width: 100%;
  }

  .card-header {
    text-align: center;
    font-size: 1.3rem;
    display: flex;
  }

  .cards-img a,
  .cards-img {
    height: 20rem;
  }

  .cards-titulo-btn .card-titulo {
    font-size: 1.1rem;
  }

  .cards-img-container:hover .p-img-back {
    display: none;
  }

  .cards-img-container:hover .p-img-front {
    display: block;
  }
}

@media(max-width: 320px) {
  .p-img a,
  .p-img {
    height: 19rem;
  }

  .slider-btns {
    padding: 0;
  }
}