
@media (min-width: 1024px) {
  .container {
    width: min(112rem, 100%);
  }

  /* reset */

  body {
    text-align: initial;
  }

  nav {
    background-color: initial;
    margin: initial;
    padding: initial;
  }
  
  nav#navegacao .container * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    position: initial;
    font-weight: initial;
    transform: initial;
    background-color: initial;
    border: 0;
  }

  nav{
    height: 0;
    margin-top: 0;
  }

  nav#navegacao .fecha-menu,
  nav#navegacao .abre-menu {
    display: none;
  }

  nav#navegacao .menu {
    display: flex;
    align-items: center;
    width: 60%;
  }

  nav#navegacao .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  #banner img {
    display: initial;
  }

  #banner .texto-banner {
    margin: initial;
  }

  /* GERAL */
  body {
    font-size: 2.2rem;
  }

  main {
    float: right;
    width: 84.6%;
    display: flex;
    flex-direction: column;
  }
  /* NAVEGACAO */

  nav#navegacao .container {
    float: left;
    width: 15%;
    height: 100vw;
    background-color: var(--orange-light);
    padding: 4rem 10.5rem;
  }

  nav .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  nav#navegacao .logo {
    margin: 3rem 0 5rem 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  /* BANNER =============================================================================*/
  #banner {
    padding: 3rem 0 9rem 0;
    border-bottom: 1px solid;
    border-color: var(--orange);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    background-color: var(--bg-orange);
    z-index: -8;
    margin-left: -0.3rem;
  }

  #banner::before {
    height: 100%;
    width: initial;
    position: initial;
    border: none;
  }

  section#banner .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #banner img {
    width: 35rem;
    height: 35rem;
    position: relative;
    left: 18.6%;
  }

  #banner .texto-banner {
   position: absolute;
   left: 53.6%;
   top: 22%;
   z-index: -1;
   font-size: 6rem;
  }

  #banner .textos-banner p {
    position: relative;
    left: 2%;
    top: 7rem;
    width: 60%;  
    text-align: start; 
  }
  /* CARDS ========================================================================================*/

  .cards {
    margin: 8rem auto;
    padding-top: 0;
  }

}


@media (max-width: 775px) {

  /* TO DO ======*/
  
  .to-do-header button {
    right: 7%;
  }
  .inserir input {
    width: 100%;
  }

  .inserir button {
    width: 20%;
  }

  .inserir i {
    font-size: 3rem;
    padding: 0;
  }
}


@media(max-width: 500px) {

  .section-header {
    justify-content: center;
    font-size: 3rem;
  }

  /* CARDS =========  */
  .cards-box {
    margin: 0 1rem;
  }

  .cards {
    width: 100%;
  }

  .cards-img-container:hover .p-img-back {
    display: none;
  }

  .cards-img-container:hover .p-img-front {
    display: block;
  }

  /* TO DO ======*/

  .to-do-header button {
    right: 6%;
  }

  .inserir input {
    width: 100%;
  }

  .inserir button {
    width: 30%;
  }

  .inserir i {
    font-size: 3rem;
    padding: 0;
  }
}

@media(max-width: 400px) {
  .p-img a,
  .p-img {
    height: 19rem;
  }

  .slider-btns {
    padding: 0;
  }
}